%% -*- mode: erlang -*-

{erl_opts, [debug_info,
	    {parse_transform, lager_transform}]}.
	    
{deps, [{lager, "3.6.3"}
       ]}.

{relx, [{release,
	 {beerl, "0.0.1"},
	 [kernel,
	  stdlib,
	  lager,
	  beerl]},

	{dev_mode, false},
	{include_erts, true},
	{relocatable, true},
	{vm_args, "config/vm.args"},
	{sys_config, "config/sys.config"},

	{extended_start_script, true}]}.

{shell, [
	 {vm_args, "config/vm.args"},
	 {config, "config/sys.config"},
	 {apps, [beerl]}
	]}.

{lager, [
	 {log_root, "/tmp"},
	 {handlers, [
		     {lager_console_backend, [{level, info}]},
		     {lager_file_backend, [{file, "error.log"}, {level, error}]},
		     {lager_file_backend, [{file, "console.log"}, {level, info}]}
		    ]}
]}.
